<%= form_for(@user_account) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.hidden_field :account_id, :value => 1%>
      <%= f.hidden_field :name, :value => 'My Wells Fargo Checking' %>
    </div>
    <%= f.submit "Add Account", class: "btn btn-large btn-primary" %>
<% end %>